@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Josefin+Sans:wght@300;400;500;600;700&display=swap');

@font-face {
	font-family: 'Josefin Sans';
	src: url(JosefinSans-Regular.ttf), url(JosefinSans-SemiBold.ttf),
		url(JosefinSans-Bold.ttf);
}

@font-face {
	font-family: 'Amatic';
	src: url(AmaticSC-Regular.ttf), url(AmaticSC-Bold.ttf);
}

body {
	font-family: 'Josefin Sans', Helvetica;
	font-size: 18px;
	line-height: 1.5;

	background-color: #ffffff;
	color: #000000;
	margin: 80px auto 80px auto;
	max-width: 1120px;
}

header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	padding: 24px;
	z-index: 1;
}

header h3 {
	font-family: 'Amatic', Arial, Helvetica, sans-serif;
}
